.login-background {
  background-image: url('../assets/imgs/Fondo-login.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    border-radius: 50px;
    max-width: 400px;
    width: 100%;
    color: white;
}

.login-button{
    background-color:  #0e2e3c;
    border: 1px solid #0e2e3c;
    opacity: 1;
}

.login-button:hover {
    background-color: #14506d;
    border-color: #14506d;
    transition: background-color 0.3s ease, ;
}

