.profile-background {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url('../assets/imgs/fondo formulario.jpg');
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  }

.profile-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
  color: white;
}

.profile-title-unauthorized {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 5rem;
  width: 100%;
  color: white;
}

.profile-welcome {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: white;
}

.profile-form-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
}

.profile-form-container label{
  color: white;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}
.profile-form-title {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0;
}

.profile-submit-button{
  background-color:  #0e2e3c;
  border: 1px solid #0e2e3c;
  opacity: 1;
  font-weight: bold;
}

.profile-submit-button:hover {
  background-color: #14506d;
  border-color: #14506d;
  transition: background-color 0.3s ease, ;
}

.profile-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin-top: 2rem;
}

.profile-left-column,
.profile-right-column {
  flex: 1;
  min-width: 300px;
}

.profile-section-title {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.profile-filter * {
  background-color: #0e2e3c;
  color: white !important;
  fill: white !important;
}

.profile-filter:hover *,
.profile-filter:focus * {
  background-color: #14506d !important;
  color: white !important;
  fill: white !important;
}

.profile-filter.show * {
  background-color: #0e2e3c !important;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  border: none;
  color: white;
  padding: 1.5rem;
}

.modal-content p {
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0;
  text-align: center;
}